body {
  font-family: "Exo 2", "Arial", sans-serif;
  background-color: #fff;
  color: #0d0d0d;
  line-height: 1.5;
}

h1 {
  font-size: 65px;
  color: #231f20;
  margin: 0;
  line-height: 1.03;
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-size: 51px;
  line-height: 51px;
  color: #000000;
  font-weight: 900;
  font-style: italic;
  margin: 0;
}

h3 {
  font-family: @exo;
  font-size: 31px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.19;
  text-align: left;
  color: #0d0d0d;
  margin-top: 30px;
}

h4 {
  font-family: @arial;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #0d0d0d;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  position: relative;
  font-family: @arial;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  &:before {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ffe200;
    left: 0;
    top: 6px;
    content: '';
    display: block;
  }
}

ul {
  padding: 0;
  margin: 0;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 15px;
  margin-bottom: 0;
}

.pt-30 {
  padding-top: 30px;
}

.pt-15 {
  padding-top: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  padding-top: 30px;
}

.mt-15 {
  padding-top: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-30 {
  margin-left: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-15 {
  margin-right: 15px;
}

.left-square {
  position: relative;
  padding-left: 30px;
  &:before {
    position: absolute;
    display: block;
    left: 0;
    top: 10px;
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 5px;
    background-color: @yellow-color;
  }
}

.subtitle {
  padding-top: 30px;
  &--bold {
    font-weight: bold;
  }
}

.bottom-line {
  position: relative;
  padding-bottom: 30px;
  line-height: 1;
  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    width: 230px;
    height: 4px;
    background-color: #ffe200;
    bottom: 0;
    border-radius: 50px;
  }
  &--header:before {
    width: 389.5px;
  }
  &--big-number:before {
    left: 15px;
  }
}

button {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  color: #0d0d0d;
  padding: 9px 50px;
  background-color: @yellow-color;
  box-shadow: 0 3px 0 0 #a87e00;
  border: none;
  border-radius: 5px;
}

.btn-white{
  background-color: #fff;
  box-shadow: none;
}

.phone-number {
  position: relative;
  display: block;
  color: #fff;
  font-family: @arial;
  font-size: 24px;
  padding-left: 18px;
  padding-bottom: 15px;
  &:before {
    position: absolute;
    left: 0;
    content: '';
    top: 7px;
    display: block;
    width: 15px;
    height: 36px;
    background-color: #000000;
  }
  &:after {
    position: absolute;
    left: 18px;
    font-weight: normal;
    font-style: italic;
    content: 'Или позвоните основателю';
    bottom: 4px;
    font-size: 13px;
    display: block;
  }
  &--black {
    color: #000;
  }
}

.subtitle {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #0d0d0d;
}

.big-number {
  font-size: 108px;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
}

.grey-text {
  font-family: @arial;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  color: #7b7b7b;
}

@media @mobile-widths-only {
  h2 {
    font-family: @exo;
    font-size: 19px;
    font-weight: 900;
    font-style: italic;
    line-height: 1;
  }

  .bottom-line:before {
    width: 130px;
    height: 2px;
    bottom: -7px;
  }

  p {
    font-family: @arial;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #0d0d0d;
    padding-top: 15px;
  }

  .subtitle {
    padding-top: 15px;
    font-family: @arial;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #0d0d0d;
  }
}
