.appeal{
  padding-top: 80px;
  padding-bottom: 80px;
  background:url("/img/appeal/appeal-bg.jpg") ;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 80px;
  text-align: center;
  border-radius: 5px;
}
.appeal__title{
  text-align: center;
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  padding-bottom: 60px;
}
.appeal__subtitle{
  margin-top: 150px;
  color: #fff;
  font-size: 31px;
  line-height: 1;
  font-style: italic;
}
