.appeal {
  padding-top: 35px;
  padding-bottom: 80px;
  background: url("/img/appeal/appeal-bg.jpg");
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 92px;
  text-align: center;
  border-radius: 5px;
  position: relative;
}

.appeal-bottom-bg {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
}

.appeal__title {
  text-align: center;
  font-size: 50px;
  line-height: 1;
  font-style: italic;
  color: #fff;
  padding-bottom: 60px;
  font-weight: 900;
  text-transform: uppercase;
}

.appeal__subtitle {
  margin-top: 125px;
  color: #fff;
  font-size: 31px;
  line-height: 1;
  font-style: italic;
}

.appeal-arrow-down {
  &:before{
    position: absolute;
    transform: translate(-29px,8px) rotate(15deg);
    left: 47%;
    content: '';
    bottom: -35px;
    width: 60px;
    height: 1px;
    background-color: #fff;
    transition: transform 250ms ease;
  }
  &:after{
    position: absolute;
    transform: translate(29px,8px) rotate(-15deg);
    content: '';
    left: 47%;
    bottom: -35px;
    width: 60px;
    height: 1px;
    background-color: #fff;
    transition: transform 250ms ease;
  }
}

@media @mobile-widths-only {
  .appeal {
    margin-top: 50px;
    padding-top: 30px;
  }

  .appeal__title {
    margin-top: 0;
    font-size: 20px;
  }

  .appeal__subtitle {
    font-size: 12px;
    font-weight: 900;
    width: 60%;
    display: block;
    margin: auto;
    text-align: center;
  }
}

@media @tablet-widths-min and @tablet-widths-max {
  .appeal {
    margin-top: 50px;
    padding-top: 30px;
  }

  .appeal__title {
    margin-top: 0;
    font-size: 25px;
    padding-bottom: 30px;
  }

  .appeal__subtitle {
    font-size: 14px;
    font-weight: 900;
    width: 60%;
    display: block;
    margin: auto;
    text-align: center;
  }

}
