.chains-stores {
  padding-top: 188px;
  position: relative;
  &:before {
    position: absolute;
    width: 94%;
    display: block;
    content: '';
    top: 91px;
    left: 3%;
    background-color: #EFEFEF;
    height: 63%;
    border-radius: 5px;
  }
}

.chains-stores__top {
  padding-bottom: 30px;
}

.chains-stores__opening {
  padding-top: 22px;
  font-family: @arial;
  font-size: 22px;
  font-style: italic;
  line-height: 1.32;
  text-align: center;
  width: 80%;
  margin: auto;
}

.chains-stores__video {
  position: relative;
}

.chains-stores__video-title {
  position: absolute;
  display: block;
  bottom: 36px;
  left: 133px;
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.17;
  text-align: left;
  color: #ffffff;
  &:before {
    display: block;
    position: absolute;
    content: '';
    top: -17px;
    right: 195px;
    width: 80px;
    background-image: url("/img/icons/youtube.svg");
    background-size: cover;
    height: 68px;
  }
}

.chains-stores-slider__description {
  font-size: 14px;
  text-align: center;
}

.chains-stores-slider__year {
  padding-top: 15px;
  text-align: center;
}

@media @mobile-widths-only {
  .chains-stores {
    padding-top: 80px;
    padding-bottom: 40px;
    &:before {
      top: 50px;
      height: 96%;
    }
  }

  .chains-stores__opening {
    padding-right: 0;
  }

  .chains-stores__top {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .chains-stores__opening {
    font-size: 17px;
  }

  .chains-stores-slider {
    & img {
      display: block;
      margin: auto;
    }
  }

  .chains-stores-slider__year {
    font-size: 24px;
    font-weight: 300;
  }
  .chains-stores-slider__description{
    padding-top: 10px;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 12px;
  }
  .chains-stores__video{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media @tablet-widths-min and @tablet-widths-max {
  .chains-stores__top {
    padding-bottom: 30px;
  }
}
