.chains-stores {
  padding-top: 180px;
  position: relative;
  &:before{
    position: absolute;
    width: 90%;
    display: block;
    content: '';
    top: 120px;
    left: 5%;
    background-color: #EFEFEF;
    height: 55%;
    border-radius: 5px;
  }
}

.chains-stores__opening {
  padding-top: 20px;
  font-family: Arial;
  font-size: 22px;
  font-style: italic;
  line-height: 1.32;
  text-align: center;
  padding-right: 80px;
}
.chains-stores__video{
  position: relative;
}

.chains-stores__video-title{
  position: absolute;
  display: block;
  bottom: 50px;
  left: 140px;
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.17;
  text-align: left;
  color: #ffffff;
}

@media @mobile-widths-only {
  .chains-stores {
    padding-top: 80px;
    &:before{
      top: 50px;
      height: 96%;
    }

  }
  .chains-stores__opening{
    padding-right: 0;
  }
}
