.experience {
  & button {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.experience__number {
  font-family: "Exo 2", sans-serif;
  font-size: 220px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  line-height: 169px;
  padding-top: 0;
}

.experience__text {
  color: #fff;
  font-size: 27px;
  line-height: 1;
  font-weight: bold;
  font-style: italic;
  padding-top: 30px;
  padding-left: 20px;
  width: 90%;
  padding-bottom: 23px;
}

.experience__phone {
  padding-top: 10px;
  padding-left: 15px;
  font-weight: bold;
}

.experience__phone-wrapper {
  padding-left: 35px;
}

@media @tablet-widths-min and @tablet-widths-max{
  .experience__number {
    display: none;
  }

  .experience__text {
    display: none;
  }

  .experience__phone-wrapper {
    display: none;
  }

  .experience {
    margin-top: 30px;
  }
}
