.page-footer{
  margin-top: 100px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  bottom: 0;
  top: 0;
  background-color:#EFEFEF;
  padding: 70px 0;
  border-radius: 5px;
  color: #4A4A4A;
  font-size: 16px;
  & a{
    color: #4A4A4A;
    border-bottom: 1px solid #3c3c3c;
  };
}
@media @tablet-widths-min and @tablet-widths-max {
  .page-footer {
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
