.main-nav__link {
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  padding: 0;
  font-family: Arial;
  &:hover{
    color: @yellow-color;
    border-bottom: 1px solid @yellow-color;
    transition: .3s;
  }
}

.main-nav__item{
  padding: .5rem 1rem;

}
.active{
  padding: 6px 21px;
  width: 100%;
  color: #000;
  margin-top: -5px;
  border-bottom: none;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  border-radius: 2px;
  background: @yellow-color;
  &:hover{
    border-bottom: none;
    color: #000;
  }
}
