.personal{
  padding-top: 80px;
}

.personal-aside{
  background-color: #fafafa;
}


.personal-aside__list{
  padding-top: 30px;
}

.personal-aside___item{
  padding-bottom: 15px;
  font-weight: normal;
  &:before{
    width: 27px;
    height: 32px;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffe200;
  }
}
