.plan__top-wrapper{
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: @yellow-color;
  border-radius: 5px;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
.plan-btn{
  margin: auto;
  display: block;
}

.plan__suptittle{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.plan__title{
font-size: 83px;
  font-weight: 900;
  font-style: italic;
  font-family: @exo;
  line-height: 1;
}
.plan__subtitle{
  margin-top: 19px;
  font-size: 30px;
  line-height: 1.5;
  font-family: @exo;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 100px;
}
