.profit {
  padding-top: 104px;
}

.profit__list {
  padding-top: 22px;
  padding-left: 30px;
}

.profit__item {
  font-size: 16px;
  font-weight: normal;
  font-family: @arial;
  padding-left: 0;
  padding-bottom: 0;
  & span {
    font-size: 10px;
  }
  &:before {
    display: none;
  }
}

.plan__link {
  margin-top: 22px;
  display: inline-block;
  border-bottom: 1px solid #C7C7C7;
  color: #0D0D0D;
}

@media @mobile-widths-only {
  .profit {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }

  .profit__list {
    padding-left: 25px;
    padding-top: 9px;
  }

  .profit__item {
    font-size: 12px;
  }
  .plan__link{
    display: none;
  }
}

@media @tablet-widths-min and @tablet-widths-max {
  .profit {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }

  .profit__list {
    padding-left: 25px;
  }

  .profit__item {
    font-size: 12px;
  }
  .plan__link{
    display: none;
  }
}
