.promotion {
  margin-top: 40px;
  & h4 {
    margin-top: 37px;
    margin-bottom: 0;
    font-size: 20px;
    font-family: @arial;
    font-weight: bold;
  }
  & p {
    padding-top: 1px;
    font-size: 16px;
  }
}

@media @mobile-widths-only {
  .promotion {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
    & h4 {
      margin-top: 15px;
      font-size: 14px;
    }
    & p {
      font-size: 12px;
    }
  }
  .promotion__item{
    margin-bottom: 20px;
    & img{
      margin: auto;
      display: block;
    }
  }
}

@media @tablet-widths-min and @tablet-widths-max{
  .promotion {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
    & h4 {
      margin-top: 15px;
      font-size: 14px;
    }
    & p {
      font-size: 12px;
    }
  }
  .promotion__item{
    margin-bottom: 20px;
    & img{
      margin: auto;
      display: block;
    }
  }
}
