.video{
  padding-top: 70px;
}

.video__title{
  max-width: 70%;
}
.video__subtitle{
  max-width: 70%;
  margin-bottom: 30px;
}

.video__player{
  margin-top: 15px;
}

.video__btn{
  margin-top: 30px;
  width: 100%;
}
